{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!{% endblock %}

{% block body %}
    <div class="flex flex-col gap-8 sm:gap-[60px] md:flex-row md:gap-0">
        <twig:BaseSidebar />
        <twig:Invoice />
    </div>
{% endblock %}
