<div class="relative
    overflow-hidden
    flex justify-center items-center
    bg-primary
    h-[72px] w-[72px]
    rounded-r-[20px]
    after:absolute
    after:bg-primary-light
    after:top-1/2
    after:h-full after:w-full
    after:rounded-l-[20px]
    sm:h-20 sm:w-20
    md:h-[100px] md:w-[100px]"
>
    <twig:Base:IconLogo />
</div>
