<div class="flex items-center justify-between bg-[#373B53] dark:bg-neutral-dark md:rounded-r-[20px] md:w-fit md:flex-col md:fixed md:h-full">
    <twig:Base:Logo />
    <div class="flex items-center md:flex-col md:w-full">
        <twig:ThemeToggle />
        <hr class="border-none w-px h-[72px] bg-[#494E6E] sm:h-20 md:w-full md:h-px" />
        <twig:Base:Avatar />
    </div>
</div>
