@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: skyblue;
}

@layer base {
    @font-face {
        font-family: "League-Spartan";
        src: url("./../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
    }
}
