{% props theme = '' %}

{% set badge = cva({
    base: 'body-variant font-bold flex justify-center items-center w-[104px] h-10 rounded-md capitalize',
    variants: {
        theme: {
            paid: 'bg-[#33D69F]/5 text-[#33D69F]',
            pending: 'bg-[#FF8F00]/5 text-[#FF8F00]',
            draft: 'bg-[#373B53]/5 text-[#373B53] dark:bg-neutral-lightest/5 dark:text-neutral-lightest',
        },
    }
}) %}

{% set badgeContent = cva({
    base: 'relative body-variant font-bold capitalize before:absolute before:w-2 before:h-2 before:rounded-full before:top-1/2 before:translate-y-[-50%] before:left-[-1rem]',
    variants: {
        theme: {
            paid: 'before:bg-[#33D69F]',
            pending: 'before:bg-[#FF8F00]',
            draft: 'before:bg-[#373B53]',
        },
    }
}) %}

<div class="{{ badge.apply({theme}, attributes.render('class')) | tailwind_merge }}">
    <div class="{{ badgeContent.apply({theme}, attributes.render('class')) | tailwind_merge }}">
        {% block content %}{% endblock %}
    </div>
</div>
