{% props
    model = "",
    value = ""
%}

<div class="relative h-4 w-4">
    <input
        type="checkbox"
        data-model="{{ model }}"
        value="{{ value }}"
        class="peer  cursor-pointer h-4 w-4 rounded-sm bg-neutral-lightest hover:border hover:border-primary checked:bg-primary"
    />
    <div class="pointer-events-none absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] hidden peer-checked:block">
        <twig:BaseIconCheck />
    </div>
</div>