<div class="sticky z-50 top-0 flex md:flex-col md:h-screen justify-between items-stretch bg-[#373B53] md:rounded-r-[20px] dark:bg-neutral-dark">
    <twig:BaseLogo />
    <div class="flex items-stretch md:flex-col">
        <twig:BaseThemeToggle />
        <twig:BaseSidebarProfile />
    </div>
</div>
