<div class="flex justify-between items-strech bg-[#373B53] md:fixed md:flex-col md:rounded-r-[20px] md:h-screen">
    <twig:BaseLogo />
    <div class="flex items-strech md:flex-col">
        <twig:BaseThemeToggle />
        <twig:BaseSidebarProfile />
    </div>
</div>
