<summary class="bodyVariant font-bold cursor-pointer text-neutral-darkest flex items-center gap-3 dark:text-[#FFFFFF]">
    <span class="flex">{% block content %}{% endblock %}</span>
    <div class="group-open:rotate-180"><twig:IconArrowDown /></div>
</summary>
