<div>
	<div>
		<h1>Invoices</h1>
		<p>There are<!-- Add number here -->total invoices
		</p>
		<button>Filter by status</button>
		<select>
			<option>Draft</option>
			<option>Pending</option>
			<option>Paid</option>
		</select>
		<button>New Invoice</button>
	</div>

	<!-- No invoices -->
	<div>
		There is nothing here
        Create an invoice by clicking the New Invoice button and get started
	</div>
	<!-- No invoices end -->

	<!-- Create new invoice form -->
	<div>
		<button>Go back</button>


		<h2>New Invoice</h2>

		<label>Bill From</label>
		<button>Discard</button>
		<button>Save as Draft</button>
		<button>Save & Send</button>
	</div>
	<!-- Create new invoice end -->
</div>
