<twig:Base:Dialog>
    <twig:Base:Button icon="prepend" data-action="dialog#open">
        <twig:block name="icon">
            <twig:Base:IconPlus />
        </twig:block>
        <div class="hidden sm:block">New Invoice</div>
        <div class="sm:hidden">New</div>
    </twig:Base:Button>
    <twig:Base:DialogContent>
        <twig:InvoiceCreateForm />
    </twig:Base:DialogContent>
</twig:Base:Dialog>
