<twig:BaseDialog>
	<twig:BaseButton icon="true" data-action="dialog#open">
		<twig:BaseIconPlus/>
		<span data-invoice-target="button" data-live-ignore></span>
	</twig:BaseButton>
	<twig:BaseDialogContent>
		<div class="md:flex h-screen">
			<twig:BaseSidebar/>
            <twig:InvoiceForm />
		</div>
	</twig:BaseDialogContent>
</twig:BaseDialog>
