<div {{ attributes }}>
	<twig:Base:Sidebar />
	<div class="wrapper">
		<div>
			<twig:InvoiceHeader invoices="{{ computed.invoices }}" />
			<twig:InvoiceFilter />
			<twig:InvoiceCreate />
		</div>
		<twig:InvoiceList invoices="{{ computed.invoices }}" />
	</div>
</div>
