<div {{ attributes }}>
	<div>
		<twig:InvoiceHeader invoices="{{ computed.invoices }}" />
		<twig:InvoiceFilter />
		<twig:InvoiceCreate />
	</div>
	<twig:InvoiceList invoices="{{ computed.invoices }}" />
</div>
