<div {{ attributes }}>
    <button
        data-action="live#action"
        data-live-action-param="markAsPaid"
        data-live-invoice-id-param="{{ invoiceId }}"
    >
        Mark as Paid
    </button>
</div>
