<div {{ attributes }}>
    <button
        data-action="live#action:prevent"
        data-live-action-param="delete"
        data-live-invoice-id-param="{{ invoiceId }}"
    >
        Delete
    </button>
</div>
