<header>
    <h1 class="heading-large text-neutral-darkest dark:text-[#FFFFFF]">Invoices</h1>
    <p class="body text-neutral-light dark:text-neutral-lightest">There are {{ invoices|length }} total invoices</p>
</header>
