{% props
    id = "RT3080",
    paymentDue = "2021-08-19",
    clientName = "Jensen Huang",
    total = 1800.90,
    status = "paid"
%}

<a href="#">
    <twig:InvoiceCardMedium />
    <twig:InvoiceCardSmall />
</a>
