<details class="relative group w-fit">
    <summary class="flex items-center gap-3 cursor-pointer">
        <p class="hidden sm:block font-bold text-[15px] leading-[15px] tracking-[-0.25px] text-neutral-darkest dark:text-[#FFFFFF]">Filter by status</p>
        <p class="sm:hidden font-bold text-[15px] leading-[15px] tracking-[-0.25px] text-neutral-darkest dark:text-[#FFFFFF]">Filter</p>
        <div class="group-open:rotate-180"><twig:Base:IconArrowDown /></div>
    </summary>
    <div class="flex flex-col gap-4 p-6 absolute top-[calc(100%+1.5rem)] left-1/2 translate-x-[-50%] rounded bg-[#FFFFFF] w-[192px] dark:bg-neutral shadow-[0_10px_20px_0px_hsl(231,38,45,0.25)]">
        <twig:Base:Label class="flex items-center gap-3">
            <twig:Base:Checkbox
                value="Draft"
                model="statuses[]"
            />
            Draft
        </twig:Base:Label>
        <twig:Base:Label class="flex items-center gap-3">
            <twig:Base:Checkbox
                value="Pending"
                model="statuses[]"
            />
            Pending
        </twig:Base:Label>
        <twig:Base:Label class="flex items-center gap-3">
            <twig:Base:Checkbox
                value="Paid"
                model="statuses[]"
            />
            Paid
        </twig:Base:Label>
    </div>
</details>
