<div class="flex gap-5 items-center justify-between">
	<header>
		<h1 class="heading-large text-neutral-darkest">Invoices</h1>
		<p class="body text-neutral-light">
			<span>7 invoices</span>
		</p>
	</header>
	<div class="flex gap-5 items-center">
		<twig:InvoiceDropdownMenuFilter />
		<twig:Button icon>
			<twig:block name="icon">
				<twig:IconPlus/>
			</twig:block>
			New
		</twig:Button>
	</div>
</div>
