<header class="flex gap-5 items-center justify-between">
    <twig:InvoiceListHeader />
    <div class="flex gap-5 items-center md:gap-10">
        <twig:InvoiceListDropdownFilter />
        <twig:InvoiceListAdd />
    </div>
</header>
