<details>
    <summary>Filter by status</summary>
    <div>
        <label>
            <input
                type="checkbox"
                value="Draft"
                data-model="statuses[]"
            >
            Draft
        </label>
        <label>
            <input
                type="checkbox"
                value="Pending"
                data-model="statuses[]"
            >
            Pending
        </label>
        <label>
            <input
                type="checkbox"
                value="Paid"
                data-model="statuses[]"
            >
            Paid
        </label>
    </div>
</detail>
