<div class="
    relative
    flex justify-center items-center
    bg-primary
    rounded-r-[20px]
    w-[72px] h-[72px] sm:w-20 sm:h-20 md:w-[100px] md:h-[100px]
    overflow-hidden
    after:absolute
    after:top-1/2
    after:w-[72px] after:h-[72px]
    after:bg-primary-light
    after:rounded-l-[20px]"
>
    <twig:IconLogo />
</div>
