<twig:Menubar>
    <twig:SidebarLogo />
    <div class="flex items-center md:flex-col">
        <twig:ThemeProviderToggle />
        <twig:MenubarSeparator />
        <twig:SidebarAvatar />
    </div>
</twig:Menubar>
