<button class="mx-6 md:my-6" data-action="theme#toggle">
	<div class="hidden" data-theme-target="lightIcon">
		<twig:Base:IconSun/>
	</div>
	<div data-theme-target="darkIcon">
		<twig:Base:IconMoon/>
	</div>
</button>
